

@model WishlistGetDto
@inject ICategoryService categoryService;
@inject ICompanyService companyService;
@inject IVacancyService vacancyService;

@{
    List<CategoryGetDto> categories = (await categoryService.GetAllAsync()).Datas.ToList();
    List<CompanyGetDto> companies = (await companyService.GetAllCheckingOrderAsync(1, 6)).Datas.ToList();
    List<VacancyGetDto> vacancies = (await vacancyService.GetVacancysBySearchTextAsync(null,1, 6)).Datas.ToList();
}
<main>
    <div class="col-md-12 breadc new_breadcrumb">
        <div class="container two_side_breadc">
            <a href="#" class="breadc_single_link">Secilmisler</a>
            <ul>
                <li>
                    <a href="/">Ana səhifə</a>
                </li>
                <li>
                    <a href="/blog">Beyendiklerim</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="category_tabs active wihlist_new" id="vacancy">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4  col-5">
                    <a href="/wishlist/vacancies" class="active wishtitle">Vakansiyalar <span>@Model.wishlistVacancies.Count() </span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-5">
                    <a href="/wishlist/resumes" class="wishtitle">CV-lər <span> @Model.wishlistItems.Count()</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Vacancies Start -->
    <section class="vacancies">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    @foreach (var item in Model.wishlistItems)
                    {
                    <a href="" class="vacancies__item vacancies__item_new">
                        <div class="vacancies__item__left">
                            <div class="vacancies__icon">
                                <img loading="lazy" src="~/assets/images/Resumes/@item.Image" alt="Xadime">
                            </div>
                            <div class="vacancies__desc">
                                <h3>@item.Name @item.Surname</h3>
                                <p class="vacancy_item_company">@item.Category.Name</p>
                                <div class="vacancy_item_date_count">
                                    <span class="vacancy_item_time">
                                        <i class="fa-regular fa-calendar"></i> @item.EndDate.ToString("dd MMM")
                                    </span>
                                    <span class="vacancy_item_time"><i class="fa-regular fa-eye"></i>@item.ViewCount</span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies__item__right">
                            <span class="vacancies__price">@item.Salary AZN</span>
                            <span class="card_like resume-like" data-section="works" data-id="@item.Id">
                                <i id="like" class="fa-solid fa-heart"></i>
                            </span>
                        </div>
                            @if (item.IsPremium)
                            {
                            <span class="vacancies__premium">
                            <img loading="lazy" src="https://www.hellojob.az/content/assets/images/vacancies/premium.svg" alt="">
                            <span>Premium</span>
                        </span>
                                
                            }
                    </a>
                        
                    }
                    @foreach (var item in Model.wishlistVacancies)
                    {
                        <a href="" class="vacancies__item vacancies__item_new">
                            <div class="vacancies__item__left">
                                <div class="vacancies__icon">
                                    <img loading="lazy" src="~/assets/images/categories/@categories.FirstOrDefault(x=>x.Id==item.Category.ParentId).Image" alt="Xadime">
                                </div>
                                <div class="vacancies__desc">
                                    <h3>@item.Position</h3>
                                    <p class="vacancy_item_company">@item.Company.Name</p>
                                    <div class="vacancy_item_date_count">
                                        <span class="vacancy_item_time">
                                            <i class="fa-regular fa-calendar"></i> @item.EndDate.ToString("dd MMM")
                                        </span>
                                        <span class="vacancy_item_time"><i class="fa-regular fa-eye"></i>@item.ViewCount</span>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__item__right">
                                <span class="vacancies__price">@item.Salary AZN</span>
                                <span class="card_like vacancy-like" data-section="works" data-id="@item.Id">
                                    <i id="like" class="fa-solid fa-heart"></i>
                                </span>
                            </div>
                            @if (item.IsPremium)
                            {
                                <span class="vacancies__premium">
                                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/vacancies/premium.svg" alt="">
                                    <span>Premium</span>
                                </span>

                            }
                        </a>

                    }
                </div>

                <div class="col-md-4">
                    <div class="sticky_element sticky_active_top sticky_active_bottom">
                        <div class="sticky_element__banner">
                            <a href="https://urlgeni.us/linkedin/bgbnnr" target="_blank" data-id="22" class="vacancies__banner vacancies__banner--main click_banner">
                                <img loading="lazy" src="https://www.hellojob.az/uploads/banners/2023/11/14/kapital-sag-banner-november-banner-65536c3930f8c-642f99826c18629c88e81e0d334a240365536c3930f9e-xfF83drfxG8MnB_.jpg" width="370px" height="370px" alt="kapital sag banner - november">
                            </a>
                        </div>
                        <div class="sticky_element__companies comps">

                            @foreach (var item in companies)
                            {
                                <a asp-action="Detail" asp-controller="Company" asp-route-id="@item.Id" class="vacancies__company">
                                    <img loading="lazy" src="~/assets/images/companies/@item.Image" alt="@item.Name" width="30px" class="n_company_images">
                                    <p> @vacancies.Where(x=>x.Company.Id==item.Id).Count() vakansiya</p>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Vacancies end -->
</main>


@section Scripts{
    <script src="~/assets/js/wishlist.js"></script>
    }