@model PagginatedResponse<TagGetDto>


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tag Table</h4>
                        <a asp-action ="create" class="badge badge-success">Create</a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>CreateAt</th>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Datas)
                                    {
                                        
                                    <tr>
                                            <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>
                                           @item.CreateAt
                                        </td>
                                        <td>
                                            <a onclick="return confirm('are you sure?')" asp-action="remove" asp-route-id="@item.Id" class="badge badge-danger">Remove</a> 
                                            <a asp-controller="tag" asp-action="update" asp-route-id="@item.Id" class="badge badge-warning">Update</a>
                                        </td>

                                    </tr>
                                    }
                                
                                </tbody>
                            </table>


                           
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : null)">
                                            <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber - 1)" tabindex="-1">Previous</a>
                                        </li>
                                        @for (int i = 1; i <= Model.TotalPages; i++)
                                        {
                                            <li class="page-item @(i == Model.PageNumber ? "active" : null)">
                                                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                                            </li>
                                        }
                                        <li class="page-item @(Model.TotalPages == Model.PageNumber ? "disabled" : null)">
                                            <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber + 1)">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>
